<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.BuDiagnoseMapper">
 
    <resultMap type="com.maizhiyu.yzt.entity.BuDiagnose" id="BuDiagnoseMap">
        <result column="id" property="id"  jdbcType="BIGINT"/>
        <result column="status" property="status"/>
        <result column="customer_id" property="customerId"/>
        <result column="department_id" property="departmentId"/>
        <result column="doctor_id" property="doctorId"/>
        <result column="patient_id" property="patientId"/>
        <result column="outpatient_id" property="outpatientId"/>
        <result column="disease_id" property="diseaseId"/>
        <result column="disease" property="disease"/>
        <result column="syndrome" property="syndrome"/>
        <result column="syndrome_id" property="syndromeId"/>
        <result column="symptoms" property="symptoms"/>
        <result column="symptom_ids" property="symptomIds"/>
        <result column="medical_history" property="medicalHistory"/>
        <result column="family_history" property="familyHistory"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_del" property="isDel"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
    </resultMap>
    <select id="selectDiagnoseList" resultType="com.maizhiyu.yzt.entity.BuDiagnose">
        SELECT
            bp.name,
            bp.phone,
            boa.id,
            bd.syndrome,
            dm.his_name as disease,
            boa.outpatient_time
        FROM
        bu_outpatient_appointment boa
        LEFT JOIN bu_patient bp ON boa.patient_id = bp.his_id
        AND boa.customer_id = bp.customer_id
        AND bp.is_del = 0
        LEFT JOIN bu_diagnose bd ON boa.diagnose_id = bd.id
        AND bd.is_del = 0
        LEFT JOIN disease_mapping dm ON boa.disease_id = dm.his_code
        AND boa.customer_id = dm.customer_id
        AND dm.is_del = 0
        WHERE
        boa.is_del = 0
        AND ( boa.state = 1 OR boa.state = 2 )
        AND bd.customer_id = #{customerId}
        <if test="term != null and term != ''">
            AND (dm.his_name LIKE concat('%',#{term},'%') OR bp.name LIKE concat('%',#{term},'%') OR bp.phone LIKE concat('%',#{term},'%') OR bp.idcard LIKE concat('%',#{term},'%'))
        </if>
        ORDER BY
        boa.outpatient_time DESC
    </select>

</mapper>
