<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.BuOutpatientMapper">
    <!--    YEAR(NOW())-YEAR(D.birthday)  D.birthday patient_birthday,-->
    <select id="selectOutpatientList" resultType="hashmap">
        SELECT
        X.outpatient_id id,
        X.STATUS,
        DATE_FORMAT( X.update_time, '%Y-%m-%d %T' ) update_time,
        DATE_FORMAT( X.create_time, '%Y-%m-%d %T' ) create_time,
        A.id customer_id,
        A.NAME customer_name,
        B.id department_id,
        B.dname departmentName,
        C.id doctor_id,
        C.real_name doctor_name,
        D.id patient_id,
        D.NAME patientName,
        D.sex patientSex,
        D.phone patientPhone,
        D.nl age,
        D.birthday patientBirthday
        FROM
        bu_diagnose X
        LEFT JOIN ms_customer A ON A.id = X.customer_id
        LEFT JOIN hs_department B ON B.id = X.department_id
        LEFT JOIN hs_user C ON C.id = X.doctor_id
        LEFT JOIN bu_patient D ON D.id = X.patient_id
        <where>
            <if test="createStartDate != null">
                and X.create_time >= #{createStartDate}
            </if>
            <if test="createEndDate != null">
                and X.create_time &lt; #{createEndDate}
            </if>
            <if test="customerId != null">
                and X.customer_id = #{customerId}
            </if>
            <if test="departmentId != null">
                and X.department_id = #{departmentId}
            </if>
            <if test="doctorId != null">
                and ( X.doctor_id = #{doctorId} or X.doctor_id is null )
            </if>
            <if test="patientId != null">
                and X.patient_id = #{patientId}
            </if>
            <if test="type != null">
                and X.type = #{type}
            </if>
            <if test="status != null">
                and X.status = #{status}
            </if>
            <if test="term != null and term != ''">
                and (D.name like concat(concat('%',#{term}),'%')
                or D.phone like concat(concat('%',#{term}),'%')
            </if>
        </where>
        order by  X.create_time desc
    </select>

    <select id="selectPsUserOutpatientList" resultType="hashmap">
        select
        X.id, X.code, X.status, X.type,
        DATE_FORMAT(X.update_time, '%Y-%m-%d %T') time,
        DATE_FORMAT(X.update_time, '%Y-%m-%d %T') update_time,
        DATE_FORMAT(X.create_time, '%Y-%m-%d %T') create_time,
        B.id department_id, B.dname department_name,
        C.id doctor_id, C.realname doctor_name,
        D.id patient_id, D.name patient_name,
        Y.user_id
        from
        bu_outpatient X
        join ps_user_patient Y on X.patient_id = Y.patient_id
        left join hs_department B on B.id = X.department_id
        left join hs_user C on C.id = X.doctor_id
        left join bu_patient D on D.id = X.patient_id
        <where>
            <if test="userId != null">
                and Y.user_id = #{userId}
            </if>
            <if test="patientId != null">
                and X.patient_id = #{patientId}
            </if>
            <if test="type != null">
                and X.type = #{type}
            </if>
            <if test="status != null">
                and X.status = #{status}
            </if>
        </where>
    </select>
    <!-- 以身份证或手机号查询患者 当天 门诊信息  -->
    <select id="selectOutpatientByPatientInfo" resultType="hashmap">
        select
        *
        from
        bu_outpatient X
        join bu_patient P on P.id = X.patient_id
        <where>
            <choose>
                <when test="idCard != null and idCard != ''">
                    and P.idcard = #{idCard}
                </when>
                <otherwise>
                    <if test="phone != null">
                        and P.phone = #{phone}
                    </if>
                </otherwise>
            </choose>
            and TO_DAYS(X.time) = TO_DAYS(NOW())
        </where>
    </select>

</mapper>
