<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.BuPrescriptionItemTaskMapper">

    <resultMap type="com.maizhiyu.yzt.entity.BuPrescriptionItemTask" id="BuPrescriptionItemTaskMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="outpatientAppointmentId" column="outpatient_appointment_id" jdbcType="INTEGER"/>
        <result property="prescriptionItemAppointmentId" column="prescription_item_appointment_id" jdbcType="INTEGER"/>
        <result property="customerId" column="customer_id" jdbcType="INTEGER"/>
        <result property="customerId" column="customer_id" jdbcType="INTEGER"/>
        <result property="departmentId" column="department_id" jdbcType="INTEGER"/>
        <result property="outpatientId" column="outpatient_id" jdbcType="INTEGER"/>
        <result property="diagnoseId" column="diagnose_id" jdbcType="INTEGER"/>
        <result property="prescriptionId" column="prescription_id" jdbcType="INTEGER"/>
        <result property="prescriptionItemId" column="prescription_item_id" jdbcType="INTEGER"/>
        <result property="entityId" column="entity_id" jdbcType="INTEGER"/>
        <result property="tsName" column="ts_name" jdbcType="VARCHAR"/>
        <result property="appointmentStatus" column="appointment_status" jdbcType="INTEGER"/>
        <result property="appointmentDate" column="appointment_date" jdbcType="TIMESTAMP"/>
        <result property="timeSlot" column="time_slot" jdbcType="VARCHAR"/>
        <result property="weekDay" column="week_day" jdbcType="INTEGER"/>
        <result property="signatureStatus" column="signature_status" jdbcType="INTEGER"/>
        <result property="signatureTime" column="signature_time" jdbcType="TIMESTAMP"/>
        <result property="registrantId" column="registrant_id" jdbcType="BIGINT"/>
        <result property="cureStatus" column="cure_status" jdbcType="INTEGER"/>
        <result property="cureStartTime" column="cure_start_time" jdbcType="TIMESTAMP"/>
        <result property="cureEndTime" column="cure_end_time" jdbcType="TIMESTAMP"/>
        <result property="isDel" column="is_del" jdbcType="INTEGER"/>
        <result property="isCancel" column="is_cancel" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="BuPrescriptionItemTaskVoMap" type="com.maizhiyu.yzt.vo.BuPrescriptionItemTaskVo">
        <result column="prescriptionItemTaskId" property="prescriptionItemTaskId" />
        <result column="prescription_item_id" property="prescriptionItemId" />
        <result column="prescription_id" property="prescriptionId" />
        <result column="outpatient_id" property="outpatientId" />
        <result column="entity_id" property="entityId" />
        <result column="patient_id" property="patientId" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="gender" property="gender" />
        <result column="age" property="age" />
        <result column="dname" property="dname" />
        <result column="appointment_date" property="appointmentDate" />
        <result column="time_slot" property="timeSlot" />
        <result column="signature_time" property="signatureTime" />
        <result column="disease" property="disease" />
        <result column="tsName" property="tsName" />
        <result column="quantity" property="quantity" />
        <result column="treatment_quantity" property="treatmentQuantity" />
        <result column="outpatientTime" property="outpatientTime" />
    </resultMap>
    <select id="selectWaitSignatureList" resultType="com.maizhiyu.yzt.vo.BuPrescriptionItemTaskVo">
    SELECT
        temp.id AS prescriptionItemTaskId,
        temp.outpatient_id,

        temp.entity_id,
            bp.name,
            bp.phone,
            bp.id AS patientId,
            CASE

                WHEN bp.sex = 1 THEN
                    '男'
                WHEN bp.sex = 0 THEN
                    '女' ELSE '未知'
                END AS gender,
            TIMESTAMPDIFF(
                YEAR,
                    bp.birthday,
                    CURDATE()) AS age,
            hd.dname,
            temp.appointment_date,
            temp.time_slot,
            bpia.treatment_quantity,
            bpia.quantity,
            bd.disease,
            ts.name AS tsName,
            bd.create_time AS outpatientTime
        FROM
            (
                SELECT
                    *
                FROM
                    bu_prescription_item_task
                WHERE
                    appointment_status = 1
                    <if test="waitSignatureRo.startDate != null and waitSignatureRo.endDate">
                        AND (appointment_date BETWEEN #{waitSignatureRo.startDate} AND #{waitSignatureRo.endDate})
                    </if>

                UNION

                SELECT
                    *
                FROM
                    bu_prescription_item_task
                WHERE
                    appointment_status = 0
                GROUP BY
                    prescription_item_id,
                    entity_id
                ORDER BY
                    appointment_status DESC,
                    time_slot ASC
            ) temp
                LEFT JOIN bu_patient bp ON temp.patient_id = bp.id
                AND bp.is_del = 0
                LEFT JOIN hs_department hd ON temp.department_id = hd.id
                AND hd.is_del = 0
                LEFT JOIN bu_prescription_item_appointment bpia ON temp.prescription_item_appointment_id = bpia.id
                AND bpia.is_del = 0
                LEFT JOIN bu_diagnose bd ON temp.diagnose_id = bd.id
                AND bd.is_del = 0
                LEFT JOIN ts_sytech ts ON temp.entity_id = ts.id
                AND ts.is_del = 0
        WHERE
            temp.is_del = 0 AND temp.signature_status = 0
            AND temp.customer_id = #{waitSignatureRo.customerId}
            <if test="waitSignatureRo.search != null and waitSignatureRo.search !=''">
                AND (bp.name LIKE CONCAT('%',#{waitSignatureRo.search},'%') OR bp.phone LIKE CONCAT('%',#{waitSignatureRo.search},'%'))
            </if>
            <if test="waitSignatureRo.departmentId != null">
                AND temp.departmentId = #{waitSignatureRo.departmentId}
            </if>
            <if test="waitSignatureRo.appointmentStatus != null">
                AND temp.appointment_status = #{waitSignatureRo.appointmentStatus}
            </if>
    </select>
    <select id="selectWaitTreatmentList" resultType="com.maizhiyu.yzt.vo.BuPrescriptionItemTaskVo">
        SELECT
        bpit.id AS prescriptionItemTaskId,
        bpit.outpatient_id,
        bpit.entity_id,
        bp.name,
        bp.phone,
        bp.id AS patientId,
        CASE

        WHEN bp.sex = 1 THEN
        '男'
        WHEN bp.sex = 0 THEN
        '女' ELSE '未知'
        END AS gender,
        TIMESTAMPDIFF(
        YEAR,
        bp.birthday,
        CURDATE()) AS age,
        hd.dname,
        bpit.cure_status,
        bpit.signature_time,
        bpia.treatment_quantity,
        bpia.quantity,
        bd.disease,
        bpi.name AS tsName,
        bpi.detail,
        bd.create_time AS outpatientTime
        FROM
        bu_prescription_item_task bpit
        LEFT JOIN bu_patient bp ON bpit.patient_id = bp.id
        AND bp.is_del = 0
        LEFT JOIN hs_department hd ON bpit.department_id = hd.id
        AND hd.is_del = 0
        LEFT JOIN bu_prescription_item_appointment bpia ON bpit.prescription_item_appointment_id = bpia.id
        AND bpia.is_del = 0
        LEFT JOIN bu_diagnose bd ON bpit.diagnose_id = bd.id
        AND bd.is_del = 0
        LEFT JOIN bu_prescription_item bpi ON bpit.prescription_item_id = bpi.id
        AND bpi.is_del = 0
        WHERE
        bpit.is_del = 0 AND bpit.signature_status = 1 and (bpit.cure_status = 0 or bpit.cure_status = 1)
        AND bpit.customer_id = #{waitTreatmentRo.customerId}
        <if test="waitTreatmentRo.search != null and waitTreatmentRo.search !=''">
            AND (bp.name LIKE CONCAT('%',#{waitTreatmentRo.search},'%') OR bp.phone LIKE CONCAT('%',#{waitTreatmentRo.search},'%'))
        </if>
        <if test="waitTreatmentRo.departmentId != null">
            AND bpit.departmentId = #{waitTreatmentRo.departmentId}
        </if>
        ORDER BY bpit.signature_time desc
    </select>
    <select id="selectTreatmentList" resultType="com.maizhiyu.yzt.vo.BuPrescriptionItemTaskVo">
        SELECT
        bp.name,
        CASE
        WHEN bp.sex = 1 THEN '男'
        WHEN bp.sex = 0 THEN '女'
        ELSE '未知'
        END AS gender,
        TIMESTAMPDIFF(YEAR,bp.birthday,CURDATE()) as age,
        hd.dname,
        bd.disease,
        bd.create_time as outpatientTime,
        ts.name as tsName,
        bpia.quantity,
        bpia.treatment_quantity,
        bo.create_time as outpatient_time,
        bpit.cure_start_time,
        bpit.id as prescriptionItemTaskId,
        bpit.patient_id,
        bpit.outpatient_id,
        bpit.entity_id,
        bpit.cure_user_id,
        bpit.registrant_id,
        bpit.department_id,
        bpit.customer_id
        FROM
        bu_prescription_item_task bpit
        LEFT JOIN bu_patient bp ON bpit.patient_id = bp.id
        AND bp.is_del = 0
        LEFT JOIN hs_department hd ON bpit.department_id = hd.id
        AND hd.is_del = 0
        LEFT JOIN bu_outpatient bo ON bpit.outpatient_id = bo.id
        AND bo.is_del = 0
        LEFT JOIN bu_diagnose bd ON bpit.outpatient_id = bd.outpatient_id
        AND bd.is_del = 0
        LEFT JOIN bu_prescription_item_appointment bpia ON bpit.prescription_item_appointment_id = bpia.id
        AND bpia.is_del = 0
        LEFT JOIN ts_sytech ts ON bpit.entity_id = ts.id
        AND ts.is_del = 0
        WHERE
        bpit.is_del = 0 AND bpit.cure_status = 2
        <if test="itemTaskRo.search != null and itemTaskRo.search != ''">
            AND (bp.name LIKE concat('%',#{itemTaskRo.search},'%') OR bp.phone LIKE concat('%',#{itemTaskRo.search},'%'))
        </if>
        <if test="itemTaskRo.departmentId != null">
            AND bpit.department_id = #{itemTaskRo.departmentId}
        </if>
        <if test="itemTaskRo.startDate != null and itemTaskRo.endDate != null">
            AND (bd.create_time between #{itemTaskRo.startDate} AND #{itemTaskRo.endDate})
        </if>
        ORDER BY
        bpit.cure_status,bpit.signature_time DESC
    </select>
    <select id="treatmentRecordDetail" resultType="com.maizhiyu.yzt.vo.BuPrescriptionItemTaskVo">
        SELECT
            bp.name,
            bp.phone,
            CASE
                WHEN bp.sex = 1 THEN '男'
                WHEN bp.sex = 0 THEN '女'
                ELSE '未知'
                END AS gender,
            TIMESTAMPDIFF(YEAR,bp.birthday,CURDATE()) as age,
            bd.disease,
            bd.syndrome,
            bo.create_time as outpatient_time,
            bpi.name as tsName,
            bpi.detail,
            bpit.id as prescriptionItemTaskId,
            bpit.prescription_id,
            bpit.patient_id,
            bpit.outpatient_id,
            bpit.entity_id,
            bpit.cure_user_id,
            bpit.registrant_id,
            bpit.create_time,
            bpit.cure_status,
            bpit.cure_start_time,
            hu.user_name AS cureUserName,
            hu1.user_name AS registrantName
        FROM
            bu_prescription_item_task bpit
                LEFT JOIN bu_patient bp ON bpit.patient_id = bp.id
                AND bp.is_del = 0
                LEFT JOIN bu_outpatient bo ON bpit.outpatient_id = bo.id
                AND bo.is_del = 0
                LEFT JOIN bu_diagnose bd ON bpit.outpatient_id = bd.id AND bd.is_del = 0
                LEFT JOIN hs_user hu ON bpit.cure_user_id = hu.id AND hu.is_del = 0
                LEFT JOIN hs_user hu1 ON bpit.registrant_id = hu1.id AND hu1.is_del = 0
                LEFT JOIN bu_prescription_item bpi ON bpit.prescription_item_id = bpi.id
                AND bpi.is_del = 0
        WHERE
            bpit.is_del = 0 and bpit.id = #{id}
    </select>

</mapper>

