<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.BuSignatureMapper">

    <resultMap type="com.maizhiyu.yzt.entity.BuSignature" id="BuSignatureMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="patientId" column="patient_id" jdbcType="INTEGER"/>
        <result property="outpatientId" column="outpatient_id" jdbcType="INTEGER"/>
        <result property="prescriptionItemId" column="prescription_item_id" jdbcType="INTEGER"/>
        <result property="registrantId" column="registrant_id" jdbcType="INTEGER"/>
        <result property="isDel" column="is_del" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>
