<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.BuVisitMapper">

    <resultMap type="com.maizhiyu.yzt.entity.BuVisit" id="BuVisitMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="cureId" column="cure_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="result" column="result" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>
    <!--随访分页列表查询-->
    <select id="getPage" resultType="com.maizhiyu.yzt.vo.VisitVO" parameterType="com.maizhiyu.yzt.ro.VisitRO">
        SELECT
        bv.id,
        bc.id cure_id,
        bp.NAME,
        bp.phone,
        bp.sex,
        bp.nl,
        bo.create_time diagnose_time,
        bd.disease diagnose_name,
        bpi.NAME sytech_name,
        (select real_name from hs_user where id=bd.doctor_id) doctor_name,
        (select real_name from hs_user where id=bc.cure_user_id ) cure_user_name
        FROM
        bu_cure bc
        LEFT JOIN bu_visit bv ON bv.cure_id = bc.id
        LEFT JOIN bu_outpatient bo ON bc.outpatient_id = bo.id
        LEFT JOIN bu_patient bp ON bp.id = bo.patient_id
        LEFT JOIN bu_diagnose bd ON bd.outpatient_id = bo.id
        LEFT JOIN bu_prescription_item bpi ON bpi.id = bc.prescription_item_id
        <where>
            bc.create_time <![CDATA[ < ]]> DATE_SUB(NOW(),INTERVAL 7 day)
            <if test="query.date != null">
                AND bo.create_time <![CDATA[ >= ]]> #{query.date}
            </if>
            <if test="query.name != null and query.name != ''">
                AND bp.name LIKE CONCAT('%',#{query.name},'%')
            </if>
            <if test="query.phone != null and query.phone != ''">
                AND bp.phone LIKE CONCAT('%',#{query.phone},'%')
            </if>
            <if test="query.status != null and query.status != ''">
                AND bv.status=#{query.status}
            </if>
        </where>
    </select>

    <!--以随访id查询随访详情-->
    <select id="getInfoById" resultType="com.maizhiyu.yzt.vo.VisitVO">
        SELECT bv.*,
        bc.id cure_id,
        bp.NAME,
        bp.phone,
        bp.sex,
        bp.nl,
        bo.create_time diagnose_time,
        bd.disease diagnose_name,
        bpi.NAME sytech_name,
        (select real_name from hs_user where id = bd.doctor_id) doctor_name,
        (select real_name from hs_user where id = bc.cure_user_id) cure_user_name
        FROM bu_visit bv
        LEFT JOIN bu_cure bc ON bv.cure_id = bc.id
        LEFT JOIN bu_outpatient bo ON bc.outpatient_id = bo.id
        LEFT JOIN bu_patient bp ON bp.id = bo.patient_id
        LEFT JOIN bu_diagnose bd ON bd.outpatient_id = bo.id
        LEFT JOIN bu_prescription_item bpi ON bpi.id = bc.prescription_item_id
        <where>
            bv.id=#{id}
        </where>

    </select>


</mapper>
