<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.BuVisitMapper">

    <resultMap type="com.maizhiyu.yzt.entity.BuVisit" id="BuVisitMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="taskId" column="task_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="result" column="result" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <!--随访分页列表查询-->
    <select id="getPage" resultType="com.maizhiyu.yzt.vo.VisitVO" parameterType="com.maizhiyu.yzt.ro.VisitRO">
        SELECT
        bv.*,
        bpit.id taskId,
        bp.NAME,
        bp.phone,
        bp.sex,
        bpit.ts_name,
        DATE_FORMAT(bo.create_time, '%Y-%m-%d %H:%i:%S') diagnose_time,
        bd.disease diagnose_name,
        bpit.ts_name sytech_name,
        (select real_name from hs_user where id=bd.doctor_id) doctor_name,
        (select real_name from hs_user where id=bpit.cure_user_id ) cure_user_name
        FROM
        bu_prescription_item_task bpit
        LEFT JOIN bu_patient bp ON bp.id = bpit.patient_id
        LEFT JOIN bu_outpatient bo ON bpit.outpatient_id = bo.id
        LEFT JOIN bu_diagnose bd ON bpit.outpatient_id = bo.id
        LEFT JOIN bu_visit bv ON bv.task_id = bpit.id
        <where>
            bpit.cure_end_time <![CDATA[ < ]]> DATE_SUB(NOW(),INTERVAL 7 day)
            and bpit.cure_status=2
            <if test="query.date != null and query.date !=''">
                AND bo.create_time <![CDATA[ >= ]]> #{query.date}
            </if>
            <if test="query.term != null and query.term != ''">
                AND (bp.name LIKE CONCAT('%',#{query.term},'%') or
                bp.phone LIKE CONCAT('%',#{query.term},'%'))
            </if>

            <if test="query.status != null and query.status != ''">
                AND bv.status=#{query.status}
            </if>
        </where>
        GROUP BY bpit.id
    </select>

    <!--以随访id查询随访详情-->
    <select id="getInfoById" resultType="com.maizhiyu.yzt.vo.VisitVO">
        SELECT
        bv.*,
        bpit.id taskId,
        bp.NAME,
        bp.phone,
        bp.sex,
        bpit.ts_name,
        DATE_FORMAT(bo.create_time, '%Y-%m-%d %H:%i:%S') diagnose_time,
        bd.disease diagnose_name,
        bpit.ts_name sytech_name,
        (select real_name from hs_user where id=bd.doctor_id) doctor_name,
        (select real_name from hs_user where id=bpit.cure_user_id ) cure_user_name
        FROM
        bu_prescription_item_task bpit
        LEFT JOIN bu_patient bp ON bp.id = bpit.patient_id

        LEFT JOIN bu_outpatient bo ON bpit.outpatient_id = bo.id
        LEFT JOIN bu_diagnose bd ON bpit.outpatient_id = bo.id
        LEFT JOIN bu_visit bv ON bv.task_id = bpit.id
        <where>
            bv.id=#{id}
        </where>
        GROUP BY bpit.id
    </select>

</mapper>
