<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.DictSymptomMapper">

    <resultMap id="BaseResultMap" type="com.maizhiyu.yzt.entity.DictSymptom">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="cate" property="cate" />
        <result column="content" property="content" />
        <result column="note" property="note" />
    </resultMap>
    <select id="selectByDiseaseId" resultType="com.maizhiyu.yzt.entity.DictSymptom" parameterType="java.lang.Long">
        SELECT ds.*, count(ds.id) AS total FROM dict_symptom ds
        INNER JOIN rel_syndrome_symptom rss ON ds.id = rss.symptom_id /*AND is_del = 0*/
        WHERE  rss.disease_id = #{diseaseId} AND ds.status = 1
        GROUP BY ds.id
        ORDER BY total

    </select>
</mapper>
