<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.HsUserMapper">

    <resultMap id="UserMap" type="com.maizhiyu.yzt.entity.HsUser">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="customerId" column="customer_id" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="isDoctor" column="is_doctor" jdbcType="INTEGER"/>
        <result property="isTherapist" column="is_therapist" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询用户信息，所属部门，所属角色-->
    <select id="selectUserList" resultType="hashmap">
        select
        U.id, U.status, U.user_name userName, U.nick_name nickName, U.real_name realName, U.phone, U.sex,
        DATE_FORMAT(U.create_time, '%Y-%m-%d %T') createTime,
        D.id department_id, D.dname departmentName, D.descrip department_desc,
        R.id role_id, R.rolename rolename, R.descrip role_desc
        from
        hs_user U
        LEFT JOIN hs_department D ON D.his_id = U.his_departmrnt_id
        left join hs_user_role Y on Y.user_id = U.id
        left join hs_role R on Y.role_id = R.id
        <where>
            U.customer_id = #{customerId}
            <if test="departmentId != null and departmentId != 0">
                and D.id = #{departmentId}
            </if>
            <if test="roleId != null and roleId != 0">
                and R.id = #{roleId}
            </if>
            <if test="status != null">
                and U.status = #{status}
            </if>
            <if test="term != null and term != ''">
                and (U.user_name like concat(concat('%',#{term}),'%')
                or U.nick_name like concat(concat('%',#{term}),'%')
                or U.real_name like concat(concat('%',#{term}),'%')
                or U.phone like concat(concat('%',#{term}),'%'))
            </if>
            <if test="isdoctor != null">
                and U.is_doctor = #{isdoctor}
            </if>
            <if test="istherapist != null">
                and U.is_therapist = #{istherapist}
            </if>
        </where>
    </select>

    <select id="selectUser" resultType="hashmap">
        select U.id,
               U.customer_id                             customerId,
               U.status,
               U.user_name                               userName,
               U.nick_name                               nickName,
               U.real_name                               realName,
               U.phone,
               U.sex,
               U.avatar,
               U.is_doctor                               isDoctor,
               U.is_therapist                            isTherapist,
               DATE_FORMAT(U.create_time, '%Y-%m-%d %T') create_time,
               C.name                                    customerName,
               D.id                                      department_id,
               D.dname                                   department_name,
               D.descrip                                 department_desc,
               R.id                                      role_id,
               R.rolename                                role_name,
               R.descrip                                 role_desc
        from hs_user U
                 left join ms_customer C on U.customer_id = C.id
                 LEFT JOIN hs_department D ON D.his_id = U.his_departmrnt_id
                 left join hs_user_role Y on Y.user_id = U.id
                 left join hs_role R on Y.role_id = R.id
        where U.id = #{id}
    </select>

    <!--查询管理员信息-->
    <select id="selectAdmin" resultMap="UserMap">
        select U.*
        from hs_user U
                 join hs_user_role X on X.user_id = U.id
                 join hs_role R on X.role_id = R.id
        where U.customer_id = #{customerId}
          and R.customer_id = 0 limit 1
    </select>

</mapper>
