<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.MsAgencyMapper">

    <resultMap id="UserMap" type="com.maizhiyu.yzt.entity.MsAgency">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="contacts" column="contacts" jdbcType="VARCHAR"/>
        <result property="descrip" column="descrip" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询部门列表-->
    <select id="selectAgencyList" resultType="hashmap">
        select
            X.id, X.status, X.name, X.address, X.contacts, X.descrip,
            DATE_FORMAT(X.update_time, '%Y-%m-%d %T' ) update_time,
            DATE_FORMAT(X.create_time, '%Y-%m-%d %T' ) create_time
        from
            ms_agency X
        <where>
            <if test="ro.status != null">
                and X.status = #{ro.status}
            </if>
            <if test="ro.name != null and ro.name != ''">
                and (X.name like concat(concat('%',#{ro.name}),'%'))
            </if>
            <if test="ro.contacts != null and ro.contacts != ''">
                and (X.contacts like concat(concat('%',#{contacts}),'%'))
            </if>
            <if test="ro.province != null and ro.province != ''">
                and (X.province like concat(concat('%',#{province}),'%'))
            </if>
            <if test="ro.city != null and ro.city != ''">
                and (X.city like concat(concat('%',#{city}),'%'))
            </if>
            <if test="ro.district != null and ro.district != ''">
                and (X.district like concat(concat('%',#{district}),'%'))
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>
