<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.MsUserMapper">

    <resultMap id="UserMap" type="com.maizhiyu.yzt.entity.MsUser">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询用户信息，所属部门，所属角色-->
    <select id="selectUserList" resultType="hashmap">
        select
            U.id, U.`status`, U.user_name userName, U.nick_name nickName, U.real_name realName, U.phone, U.sex,
            DATE_FORMAT(U.create_time, '%Y-%m-%d %T') createTime,
            D.id departmentId, D.dname dName, D.descrip departmentDesc,
            R.id roleId, R.rolename roleName, R.descrip roleDesc
        from
            ms_user U
            left join ms_user_department X on X.user_id = U.id
            left join ms_department D on X.department_id = D.id
            join ms_user_role Y on Y.user_id = U.id
            join ms_role R on Y.role_id = R.id
        <where>
            <if test="departmentId != null and departmentId != 0">
                and D.id = #{departmentId}
            </if>
            <if test="roleId != null and roleId != 0">
                and R.id = #{roleId}
            </if>
            <if test="status != null">
                and U.status = #{status}
            </if>
            <if test="username != null">
                and U.user_name = #{userName}
            </if>
            <if test="term != null and term != ''">
                and (U.user_name like concat(concat('%',#{term}),'%')
                    or U.nick_name like concat(concat('%',#{term}),'%')
                    or U.real_name like concat(concat('%',#{term}),'%')
                    or U.phone like concat(concat('%',#{term}),'%'))
            </if>
        </where>
    </select>

</mapper>
