<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.SchSytechMapper">

    <select id="selectSytechList" resultType="hashmap">
        select
            X.id, X.status, X.disease_id, X.syndrome_id, X.name, X.detail, X.operation,
            A.content disease_name,
            B.name syndrome_name, B.symptoms,
            C.name sytech_name
        from
            sch_sytech X
            left join dict_disease A on X.disease_id = A.id
            left join syn_syndrome B on X.syndrome_id = B.id
            left join ts_sytech C on X.sytech_id = C.id
        <where>
            <if test="sytechId != null">
                and X.sytech_id = #{sytechId}
            </if>
            <if test="diseaseId != null">
                and X.disease_id = #{diseaseId}
            </if>
            <if test="status != null">
                and X.status = #{status}
            </if>
            <if test="term != null and term != ''">
                and X.name like concat(concat('%',#{term}),'%')
            </if>
        </where>
    </select>

</mapper>
