<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.SchZhongyaoMapper">

    <select id="selectZhongyaoList" resultType="hashmap">
        SELECT
        X.*,
        A.name disease_name,
        B.name syndrome_name,
        ds.content symptoms
        FROM
        sch_zhongyao X
        JOIN dict_disease A ON X.disease_id = A.id
        JOIN dict_syndrome B ON X.syndrome_id = B.id
        LEFT JOIN rel_syndrome_symptom rss ON X.syndrome_id = rss.syndrome_id
        LEFT JOIN dict_symptom ds ON ds.id = rss.symptom_id
        <where>
            <if test="diseaseId != null">
                and X.disease_id = #{diseaseId}
            </if>
            <if test="status != null">
                and X.status = #{status}
            </if>
            <if test="term != null and term != ''">
                and X.name like concat(concat('%',#{term}),'%')
            </if>
        </where>
        GROUP BY X.id
    </select>

</mapper>
