<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.SynSyndromeMapper">

    <select id="selectSyndromeList" resultType="hashmap">
        SELECT
        X.*,
        A.name disease_name
        FROM
        dict_syndrome X
        LEFT JOIN rel_syndrome_symptom rss ON rss.syndrome_id = X.id
        LEFT JOIN dict_disease A ON rss.disease_id = A.id
        <where>
            <if test="diseaseId != null">
                and X.id = #{diseaseId}
            </if>
            <if test="diseaseName != null">
                and A.name like concat(concat('%',#{diseaseName}),'%')
            </if>
            <if test="status != null">
                and X.status = #{status}
            </if>
            <if test="term != null and term != ''">
                and X.name like concat(concat('%',#{term}),'%')
            </if>
        </where>
        GROUP BY X.id
    </select>

</mapper>
