<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.TeMaintainMapper">

    <resultMap id="UserMap" type="com.maizhiyu.yzt.entity.TeMaintain">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="eid" column="eid" jdbcType="BIGINT"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="time" column="time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectMaintainList" resultType="hashmap">
        select
            X.id, X.eid, X.type, X.note, DATE_FORMAT(X.time, '%Y-%m-%d %T') `time`,
            A.code, A.identity,
            C.content equipTypeName,
            D.content typeName
        from
            te_maintain X
            join te_equip A on X.eid = A.id
            left join (select * from dict_common where cate = "CATE_EQUIP_TYPE" and parent != 0) C on C.value = A.type
            left join (select * from dict_common where cate = "CATE_MAINTAIN_TYPE" and parent != 0) D on D.value = X.type
        <where>
            <if test="customerId != null">
                and A.customer_id = #{customerId}
            </if>
            <if test="equipId != null">
                and X.eid = #{equipId}
            </if>
            <if test="type != null">
                and X.type = #{type}
            </if>
            <if test="startDate != null and startDate != ''">
                and X.time >= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and X.time &lt; #{endDate}
            </if>
        </where>
        order by `time` desc
    </select>

</mapper>
