<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.TeWarnMapper">

    <resultMap id="UserMap" type="com.maizhiyu.yzt.entity.TeWarn">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="eid" column="eid" jdbcType="BIGINT"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="time" column="time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectWarnList" resultType="hashmap">
        select
            X.id, X.eid, X.type, DATE_FORMAT(X.time, '%Y-%m-%d %T' ) as `time`,
            E.id equip_id, E.code, E.identity,
            A.id as agencyId, A.name as agencyName,
            C.id as customerId, C.name as customerName,
            M.id as modelId, M.name as modelName,
            D1.content equipTypeName,
            D2.content typeName, D2.note typeNote
        from
            te_warn X
            left join te_equip E on E.code = X.code
            left join ms_agency A on E.agency_id = A.id
            left join ms_customer C on E.customer_id = C.id
            left join te_model M on E.model_id = M.id
            left join ( select * from dict_common where cate = "CATE_EQUIP_TYPE" and parent != 0 ) D1 on E.type = D1.value
            left join ( select * from dict_common where cate = "CATE_XZC_WARN_TYPE" and parent != 0 ) D2 on X.type = D2.value
        <where>
            <if test="date != null and date != ''">
                and X.time = #{date}
            </if>
            <if test="agencyId != null">
                and E.agency_id = #{agencyId}
            </if>
            <if test="customerId != null">
                and E.customer_id = #{customerId}
            </if>
            <if test="type != null">
                and E.type = #{type}
            </if>
            <if test="modelId != null">
                and E.model_id = #{modelId}
            </if>
            <if test="equipId != null">
                and E.id = #{equipId}
            </if>
        </where>
    </select>

    <select id="selectWarnListOfRun" resultType="hashmap">
        select
            X.id, X.eid, X.code, X.runid, X.type,
            D.content typeName, D.note typeNote,
            DATE_FORMAT(X.time, '%Y-%m-%d %T') as `time`
        from
            te_warn X
            left join ( select * from dict_common where cate = "CATE_XZC_WARN_TYPE" ) D on X.type = D.value
        <where>
            <if test="code != null">
                and X.code = #{code}
            </if>
            <if test="runid != null">
                and X.runid = #{runid}
            </if>
        </where>
    </select>

</mapper>
