<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.TsAssMapper">


    <resultMap id="TsAssMap" type="com.maizhiyu.yzt.entity.TsAss">
    <id column="id" property="id" />
    <result column="sytech_id" property="sytechId" />
    <result column="examiner_id" property="examinerId" />
    <result column="therapist_id" property="therapistId" />
    <result column="status" property="status" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="is_del" property="isDel" />
    </resultMap>


    <select id="selectAsslist" resultType="hashmap">
        SELECT
        X.id assId,
        DATE_FORMAT( X.create_time, '%Y-%m-%d %T' ) createTime,
        X.total_score totalScore,
        X.examiner_id examinerId,
        A.NAME sytechName,
        X.sytech_id sytechId,
        X.status ,
        B.real_name examinerName,
        B.phone,
        C.real_name therapistName,
        D.dname departmentName
        FROM
        ts_ass X
        JOIN ts_sytech A ON X.sytech_id = A.id
        JOIN hs_user B ON X.examiner_id = B.id
        JOIN hs_user C ON X.therapist_id = C.id
        JOIN hs_user_department HD ON (X.examiner_id = B.id AND X.therapist_id = C.id)
        JOIN hs_department D ON D.id = HD.department_id
        <where>
            <if test="status != null and status != ''">
                and X.status = #{status}
            </if>
            <if test="examinerId != null and examinerId != ''">
                and X.examiner_id = #{examinerId}
            </if>
            <if test="phoneOrtherapistName != null and phoneOrtherapistName != ''">
                and (C.real_name like concat(concat('%' ,#{phoneOrtherapistName}),'%') or
                    B.phone like concat(concat('%') ,#{phoneOrtherapistName},'%'))
            </if>
            <if test="sytechId != null and sytechId != ''">
                and X.sytech_id = #{sytechId}
            </if>
        </where>
    </select>

    <select id="selectAssDetail" resultType="com.maizhiyu.yzt.entity.TsAss">
        SELECT
        sy.NAME name,
        de.operation_id id,
        de.detail detail,
        de.score sco
        FROM
        ts_ass AS ass
        LEFT JOIN ts_ass_operation AS op ON op.sytech_id = ass.sytech_id
        LEFT JOIN ts_ass_operation_detail AS de ON de.operation_id = op.id
        LEFT JOIN ts_sytech AS sy ON sy.id = ass.sytech_id
        <where>
            <if test="sytechId != null">
                and ass.sytech_id = #{sytechId}
            </if>
        </where>
    </select>

</mapper>
