<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhiyu.yzt.mapper.TsSytechMapper">

    <resultMap id="TsSytechMap" type="com.maizhiyu.yzt.entity.TsSytech">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="descrip" column="descrip" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="display" column="display" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询平台的适宜技术方案-->
    <select id="selectSytechList" resultType="com.maizhiyu.yzt.entity.TsSytech">
        select distinct ts.* from ts_sytech ts
        inner join sch_sytech ss on ts.id = ss.sytech_id and ss.status = 1
        <where>
            ts.status = 1
            and ss.customer_id is null
            and ss.disease_id = #{diseaseId}
            and ss.syndrome_id = #{syndromeId}
            <if test="search != null and search != ''">
                and ts.name like concat('%',#{search},'%')
            </if>
        </where>

    </select>

</mapper>
